.btnDisabled {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
}
.btnDisabled:hover {
  background-color: aqua;
}
.btnActive {
  background-color: aqua;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
}
button:active {
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
