.sidebar {
  background-color: #313639;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.btn {
  background: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  color: white;
}
.icon {
  padding: 1rem;
}
