.codeblock {
  width: fit-content;
  background-color: white;
  color: black;
  padding: 2rem;
  border-radius: 0.5rem;
  margin: 0 auto;
}
.copyBtn {
  margin-left: 2rem;
  background: transparent;
  border: none;
  padding: 1rem;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
}
