body {
  font-family: 'Lucida Console', 'Courier New', monospace;
  background-color: grey;
  color: white;
}

.App {
  margin: 5rem auto;
}

.pixel {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1px solid grey;
}

.row {
  display: flex;
  flex-wrap: wrap-reverse;
}
.set-pixel {
  width: 0.5rem;
  height: 0.5rem;
}
.set-grid {
  margin-right: 0.5rem;
  border: none;
  border-color: white;
  outline-color: white;
}
.set-grid:hover,
:focus {
  background-color: aqua;
}
.character-set {
  display: flex;
  align-items: center;
  justify-content: center;
}
