body {
  font-family: 'Lucida Console', 'Courier New', monospace;
  background-color: grey;
  color: white;
}

.App {
  margin: 5rem auto;
  text-align: center;
}

.pixel {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1px solid grey;
}

.row {
  display: flex;
  width: fit-content;
}

#grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pixels {
  margin: 0 auto 2rem;
}
